<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag(user.avatar_url.nil? ?
          image_url("logo.png") : user.avatar_url(:thumb),
          size: "120x120", class: "img-circle avatar avatar-original") %>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12">
            <h3 class="only-bottom-margin"><%= user.name %></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="text-muted"><%= t ".email" %></span>
              <%= user.email %>
          </div>
        </div>
      </div>
      <div class="col-md-1 text-right">
        <%= button_to t(".view"), user,
          class: "btn btn-default pull-right", method: "get" %>
      </div>
    </div>
  </div>
</div>
