<div id="top-nav" class="navbar navbar-inverse navbar-fixed-static">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <strong>
        <%= link_to t(".title"), root_path, {class: "navbar-brand"} %>
      </strong>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "#" do %>
            <i class="glyphicon glyphicon-user"></i>
            <%= t ".guest" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="glyphicon glyphicon-lock"></i>
            <%= t ".log_in" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
