<div class="col-sm-3">
  <% if user_signed_in? %>
    <%= link_to "#" do %>
      <strong><i class="glyphicon glyphicon-list">
      </i> <%= t ".menu"%> </strong>
    <% end %>
    <hr>
    <ul class="nav nav-stacked">
      <ul class="nav nav-stacked collapse in" id="userMenu">
        <li class = <%= "active" if current_page? users_path %> >
          <%= link_to users_path do %>
            <i class="glyphicon glyphicon-user"></i>
            <%= t ".all_users" %>
          <% end %>
        </li>
        <li class = <%= "active" if current_page? categories_path %> >
          <%= link_to categories_path do %>
            <i class="glyphicon glyphicon-ok"></i>
            <%= t ".categories" %>
          <% end %>
        </li>
        <li class = <%= "active" if current_page? exams_path %> >
          <%= link_to exams_path do %>
            <i class="glyphicon glyphicon-signal"></i>
            <%= t ".results" %>
          <% end %>
        </li>
      </ul>
    </ul>
    <hr>
  <% end %>
  <ul class="nav nav-stacked">
    <li class = <%= "active" if current_page? root_path %> >
      <%= link_to t(".home"), root_path, {title: "Home"} %>
    </li>
    <li class = <%= "active" if current_page? about_path %> >
      <%= link_to t(".about"), about_path %>
    </li>
    <li class = <%= "active" if current_page? help_path %> >
      <%= link_to t(".help"), help_path %>
    </li>
    <li class = <%= "active" if current_page? contact_path %> >
      <%= link_to t(".contact"), contact_path %>
    </li>
  </ul>
  <hr>
</div>
