<div class="row">
  <div class="col-md-11 lead"><%= t ".title" %></div>
</div>
<hr/>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @question.content %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="text-muted"><%= t ".category" %></span>
          <%= @question.category.name %> <br>
        <span class="text-muted"><%= t ".type" %></span>
          <%= @question.question_type %> <br>
        <small class="text-muted"><%= t ".created" %>
          <%= @question.created_at %></small>
      </div>
    </div>
    <% @question.options.each do |q| %>
      <div class="row">
        <div class="col-md-12">
          <h4> - <%= q.content %> <%= "(correct)" if q.correct? %> </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if can? :edit, @question %>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <%= button_to t(".update"),edit_admin_question_path(@question),
        class: "btn btn-default pull-right", method: "get" %>
    </div>
  </div>
<% end %>
