<div class="panel panel-default">
  <div class="panel-body panel-item">
    <div class="row">
      <%= link_to [:admin, category] do %>
      <div class="col-md-4 text-center">
        <%= image_tag(category.image_url.nil? ?
          image_url("no_image.png") : category.image_url(:thumb),
          size: "120x120", class: "img-square avatar avatar-original") %>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3 class="only-bottom-margin"><%= category.name %></h3>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-md-2 text-right">
        <% if current_user.current_exam.blank? %>
          <% if current_user.unlearned_question(category).blank? %>
            <%= button_to t(".save"), "#", class: "btn btn-sm btn-primary
              btn-create", disabled: true %>
          <% else %>
            <%= render "categories/start_exam", category: category %>
          <% end %>
        <% else %>
          <% unless current_user.current_exam.category == category %>
            <%= button_to t(".save"), "#", class: "btn btn-sm btn-primary
              btn-create", disabled: true %>
          <% else %>
            <%= button_to t(".continue"), edit_exam_path(
              current_user.current_exam), class: "btn btn-sm btn-primary
              btn-create", method: "get" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
