<div class="row">
  <div class="col-md-11 lead"><%= t ".title" %></div>
</div>
<hr/>
<div class="row">
  <div class="col-md-4 text-center">
    <%= image_tag(@user.avatar_url.nil? ?
      image_url("logo.png") : @user.avatar_url(:thumb),
      size: "120x120", class: "img-circle avatar avatar-original") %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h1 class="only-bottom-margin"><%= @user.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="text-muted"><%= t ".email" %></span>
          <%= @user.email %> <br>
        <span class="text-muted"><%= t ".following" %></span> <br>
        <span class="text-muted"><%= t ".follower" %></span><br><br>
        <small class="text-muted"><%= t ".created" %>
          <%= @user.created_at %></small>
      </div>
    </div>
  </div>
</div>
<% if can? :edit, @user %>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <%= button_to t(".update"),edit_admin_user_path(@user),
        class: "btn btn-default pull-right", method: "get" %>
    </div>
  </div>
<% end %>
