<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield :title %> </title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <%= render "shared/navbar" %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <% if for_user_path?(controller_name, action_name, params[:active]) or
            current_page?(activities_path) %>
            <%= render "shared/sidebar_user" %>
          <% else %>
            <%= render "shared/sidebar" %>
          <% end %>
        <div class="col-sm-9">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
