<p><%= t ".greeting" %> <%= @resource.email %>!</p>
<p><%= t ".message" %></p>
<p>
  <div class="form-group actions">
    <%= link_to t(".save"),
      edit_password_url(@resource, reset_password_token: @token),
      class: "btn btn-primary" %>
  </div>
</p>
<p><%= t ".warning" %></p>
<p><%= t ".info" %></p>
