<h2><%= t ".title" %> <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name,
  url: registration_path(resource_name) ,
  html: {method: :put, multipart: true}) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
  <p>
    <%= f.label :avatar %>
    <%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
    <br/>
    <%= f.file_field :avatar %>
  </p>
  <p>
    <label>
      <%= f.check_box :remove_avatar %>
      <%= t ".remove_avatar" %>
    </label>
  </p>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t ".warning" %> <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="form-group">
    <%= f.label :password %> <i> <%= t ".info" %> </i>
    <%= f.password_field :password, class: "form-control",
      autocomplete: "off" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control",
      autocomplete: "off" %>
  </div>
  <div class="form-group">
    <%= f.label :current_password %> <i><%= t ".password_info" %></i>
    <%= f.password_field :current_password, class: "form-control",
      autocomplete: "off" %>
  </div>
  <div class="form-group actions">
    <%= f.submit t(".save"), class: "btn btn-primary" %>
  </div>
<% end %>
<h3><%= t ".cancel_message" %></h3>
<p>
  <div class="form-group actions">
    <%= button_to t(".cancel"),registration_path(resource_name),
      data: {confirm: t(".confirm_cancel")}, method: :delete,
      class: "btn btn-primary" %>
  </div>
</p>
<%= link_to t(".back"), :back %>
